:root {
  /* رنگ‌های اصلی */
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);

  /* رنگ‌های خنثی */
  --color-grey-500: hsl(234, 12%, 34%);
  --color-grey-400: hsl(212, 6%, 44%);
  --color-white: hsl(0, 0%, 100%);

  /* فونت */
  --font-family: "Poppins", sans-serif;
  --font-size-base: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  background-color: var(--color-white);
  color: var(--color-grey-500);
  line-height: 1.6;
}

.container {
  width: 100%;
  
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
}

.header {
  text-align: center;
  max-width: 600px;
  margin: ;
}

.title {
  font-weight: 200;
  font-size: 2.5rem;
  color: var(--color-grey-500);
}

.title-bold {
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: var(--color-grey-500);
}

.description {
  color: var(--color-grey-400);
  font-weight: 400;
  max-width: 540px;
  margin: 0 auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* مدیا کوئری‌ها */
@media (min-width: 500px) {
  .title {
    font-size: 36px;
  }
  .title-bold {
    font-size: 36px;
  }

  .header {
    margin: 3rem 0;
    width: 500px;
    justify-self: center;
  }
}
